<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>untitled.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
				<key>dateExpires</key>
				<string>30/12/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>barcode_scan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>websocket_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2890E7F35BFE4152182B921D28145270191AE5B8</string>
						<key>dateExpires</key>
						<string>30/12/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36B8DVKS35</string>
						<key>name</key>
						<string>SUNDARAPANDY CHELLADURAI</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>36B8DVKS35.com.bitmount.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>36B8DVKS35</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>36B8DVKS35.com.bitmount.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>54e52832-103a-4317-884a-8ac2551e70a6</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>36B8DVKS35</string>
				<key>name</key>
				<string>SUNDARAPANDY CHELLADURAI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
